:root{
    background-color: #000000;
    color: #FFFFFF;
    font-family: monospace;

}
 
body{    
    margin: 0;
    padding: 0;
}

canvas{
    border: 2px #FFFFFF;
    border-radius: 8px;
    margin: 24px auto;
    border-style: dashed;
}

audio::-webkit-media-controls-panel{
    background-color: #aaf;
}
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button{
    background-color: #afa;
    border-radius: 100%;
}

audio::-webkit-media-controls-timeline{
    background-color: #afa;
    border-radius: 8px;
    padding: 4px;
    margin: 0 8px;
}

.visual-sound{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.visual-sound__console{
    border: solid 1px #ededed;
    border-radius: 4px;
    width: 100%;
}
.visual-sound__console-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

#playButton{
    width: 40px;
    height: 40px;
    cursor: pointer;
    object-fit: contain;
}
#playButton:hover{
    transform: scale(1.1);
}